header {
  position: sticky;
  display: flex;
  top: 0;
  left: 0;
  padding: 0.2em;
  z-index: 999;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

*{
  margin: 0px;
}
/* Estilos para el contenedor principal */
.containerH {
  display: flex;
  align-items: center;
  width: 100%;
}

/* Estilos para el logo */
.infoPag {
  display: flex;
  align-items: center;
  color: #3a3a3a;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
}

.infoPag>a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos para el buscador */

.buscador {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.buscador form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.buscador form .cajaTexto {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.buscador form .cajaTexto input[type="text"] {
  width: 100%;
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #f2f2f2;
}

.buscador form button {
  border: none;
  background-color: transparent;
}

.buscador form button .lupa img {
  height: 20px;
  width: 20px;
}

/* Estilos para el menu */

.menuPers {
  display: flex;
  list-style-type: none;
  position: relative;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
  text-align: center;
}

.menuPers a {
  width: 100%;
  text-decoration: none;
  margin: 0 0.1em 0 0.1em;
  color: black;
  display: flex;
  align-items: center;
}

.cuenta:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

.cuenta {
  overflow: hidden;
  text-overflow: ellipsis;
}

.cuenta:hover .submenu {
  visibility: visible;
}

/* Estilos para el submenu */
.submenu {
  visibility: hidden;
  position: absolute;
  top: 100%;
  cursor: pointer;
  padding: 1%;
  background-color: #fff;
  border-color: #ccc;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
  width: 22%;
}

.subdiv button:hover {
  background-color: #00b3aa;
}

.subdiv button {
  border: none;
  width: 100%;
  background-color: #fff;
  color: black;
}

.subText {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
  width: 80%;
}

.contador {
  position: absolute;
  top: 50%;
  right: 20.2%;
  background-color: #00b3aa;
  border-radius: 50%;
  font-size: 13px;
  color: white;
  text-align: center;
  width: 2%;
}

/* Estilos para Pantallas de PC */
@media (min-width: 1090px) {
  .cuenta {
    white-space: nowrap;
  }
  .infoPag {
    width: 30%;
    font-size: larger;
    font-weight: bolder;
  }

  .infoPag>a {
    width: 50%;
  }

  .buscador {
    width: 30%;
  }

  .infoPag img {
    width: 18%;
  }

  .buscador form .cajaTexto input[type="text"] {
    font-size: 14px;
  }

  .menuPers {
    height: 100%;
    width: 40%;
    justify-content: end;
  }

  .menuPers img {
    width: 15%;
  }

  .menuPers>div {
    width: 22%;
    height: 100%;
    display: flex;
    align-items: center;
  }
}

/* Estilos para tablet*/
@media (min-width: 700px) and (max-width: 1090px) {
  .cuenta {
    white-space: nowrap;
  }
  .infoPag {
    width: 25%;
    font-size: larger;
    font-weight: bolder;
  }

  .infoPag>a {
    width: 100%;
    justify-content: start;
  }

  .infoPag img {
    width: 20%;
  }

  .buscador form {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .buscador form .cajaTexto {
    width: 100%;
  }

  .buscador form .cajaTexto input[type="text"] {
    width: calc(100% - 50px);
    margin-right: 0;
    margin-bottom: 10px;
  }

  .buscador form button {
    width: 50px;
  }

  .buscador form button .lupa img {
    height: 16px;
    width: 16px;
  }

  .menuPers {
    height: 100%;
    width: 40%;
    justify-content: end;
  }

  .menuPers img {
    width: 20%;
  }

  .menuPers>div {
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .submenu {
    width: 40%;
  }

  .contador {
    width: 4%;
    right: 29.5%;
  }
}

/* Estilos para móvil */
@media (max-width: 700px) {
  .containerH {
    justify-content: space-between;
    padding: 0.5em;
  }

  .infoPag {
    width: 10%;
    height: 100%;
    font-size: 0%;
    justify-content: center;
  }

  .infoPag>a {
    width: 100%;
  }

  .menuPers {
    justify-content: center;
    width: 25%;
    height: 100%;
    margin-top: 0.5em;
    font-size: 0%;
  }

  .submenu {
    width: 99%;
    top: 100%;

    display: flex;
    flex-direction: column;
    height: 155%;
  }

  .subdiv {
    height: 50%;
    width: 100%;
    display: flex;
  }

  .submenu img {
    width: 15%;
    margin-right: 2%;
  }

  .subText {
    width: 80%;
    font-size: 12px;
    height: 100%;
    display: contents;
  }

  .menuPers a {
    display: flex;
  }

  .menuPers>div {
    width: 30%;
    height: 100%;
    align-items: center;
    display: flex;
  }

  .contador {
    width: 15%;
  }
}

@media (max-width: 395px) {
  .subText {
    font-size: 11px;
  }
}