<!doctype html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <title>PHP Function in JavaScript Demo</title>
    <style>
        body {
            font-family: 'Lato';
            font-weight: 400;
            font-size: 1.4rem;
        }

        p {
            text-align: center;
            margin-bottom: 4rem;
        }

        #textarea {
            width: 100%;
            resize: none;
            overflow: hidden;
            min-height: 50px;
            max-height: 100px;
            line-height: 20px;
            font-size: 14px;
            padding: 10px;
            box-sizing: border-box;
        }
    </style>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div class="editar">
        <h1>Editar Usuarios</h1>
        <div id="botones">
            <a href="../admin.php"><button class="btn btn-secondary">Volver</button></a>
            <button type='button' id="cargar" name="cargar" class='btn btn-primary'>Cargar</button>

        </div>


        <div class="tabla">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Id_usuarios</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Rol</th>
                    </tr>
                </thead>
                <tbody class="pruebas">
                </tbody>
            </table>
        </div>
    </div>
    <script>
        var editando = 0;
        var cargado = 0;
        var pruebas = document.getElementsByClassName('pruebas');
        var añadir = document.getElementsByClassName('agregar');
        var cargarbtn = document.getElementById('cargar');
        var añadirbtn = document.getElementById('añadir');
        cargarbtn.addEventListener('click', function (e) {
            e.preventDefault();
            cargar();
        });



        function agregar() {
            //console.log("La función guardar() se está ejecutando desde: ");
            //console.log(new Error().stack);

            var textAreas = document.querySelectorAll('table:nth-of-type(1) texta');
            //console.log(textAreas[0].value);
            //var textarea = document.querySelectorAll(".texta");
            //textarea.forEach(area => console.log(area.value));

            $.ajax({
                data: {
                    "nombre": textAreas[0].value,
                    "apellidos": textAreas[1].value,
                    "correo": textAreas[2].value,
                    "telefono": textAreas[3].value,
                    "rol": textAreas[4].value
                },
                method: "POST",
                url: "productos_crear.php"
            })
                .done(function (response) {
                    cargar();
                });
        }

        function guardar(fila) {
            //console.log("La función guardar() se está ejecutando desde: ");
            //console.log(new Error().stack);

            var elementos = fila.parentNode.children;
            var textarea = document.querySelectorAll(".texta2");
            textarea.forEach(area => console.log("valor" + area.value));
            $.ajax({
                data: {
                    "id": elementos[0].innerHTML,
                    "nombre": textarea[0].value,
                    "apellidos": textarea[1].value,
                    "correo": textarea[2].value,
                    "telefono": textarea[3].value,
                    "rol": textarea[4].value
                },
                method: "POST",
                url: "usuarios_guardar.php"
            })
                .done(function (response) {
                    //console.log(response);
                    cargar();
                });
            editando--;
        }



        function mostrar(fila) {
            if (editando == 0) {
                editando++;
                var elementos = fila.parentNode.children;
                for (let i = 1; i < 6; i++) {
                    var datos = elementos[i].innerHTML;
                    console.log(elementos[i].innerHTML);
                    elementos[i].innerHTML = "<textarea  id='textarea' cols='30' rows='10' class='texta2'>" + elementos[i].innerHTML + "</textarea>"
                    const textarea = document.getElementById("textarea");

                    textarea.addEventListener("input", function () {
                        this.style.height = "auto";
                        this.style.height = (this.scrollHeight) + "px";
                    });
                }
                elementos[6].innerHTML = "<button type='button' id='btn' class='btn btn-success'>Guardar</button>";
                elementos[7].innerHTML = "<button type='button' id='btn' class='btn btn-warning'>Cancelar</button>";
            } else {
                console.log('ya se esta editando un elemento');
            }
            const btnWarning = document.querySelectorAll(".btn-warning");
            btnWarning.forEach(editBtn => editBtn.addEventListener("click", function (e) {
                e.preventDefault;
                cargar();
                editando--;
                //Fmostrar(editBtn.parentNode);
            })
            );
            const btnSucess = document.querySelectorAll(".btn-success");
            btnSucess.forEach(editBtn => editBtn.addEventListener("click", function (e) {
                e.preventDefault;
                console.log('dentro de boton guardar');
                guardar(editBtn.parentNode);
            })
            );

        }

        function cargar() {
            cargado++;
            $.ajax({
                method: "POST",
                url: "usuarios_cargar.php"
            })
                .done(function (response) {
                    $("tbody.pruebas").html(response);
                    const botonesEditar = document.querySelectorAll(".btn-info");
                    botonesEditar.forEach(editBtn => editBtn.addEventListener("click", function (e) {
                        e.preventDefault();
                        console.log('dentro de boton');
                        mostrar(editBtn.parentNode);
                    })
                    );
                    const botonesBorrar = document.querySelectorAll(".btn-danger");
                    botonesBorrar.forEach(deletBtn => deletBtn.addEventListener("click", function (e) {
                        e.preventDefault();
                        console.log('dentro de boton');
                        borrar(deletBtn.parentNode);
                    })
                    );
                    cargarbtn.innerHTML = "Actualizar";
                });
            console.log('ya esta cargado');
        }


        function borrar(fila) {
            var elementos = fila.parentNode.children;
            $.ajax({
                data: {
                    "id": elementos[0].innerHTML
                },
                method: "POST",
                url: "usuarios_borrar.php"
            })
                .done(function (response) {
                    cargar();
                });

        }

    </script>
</body>

</html>